{% include "header.html" %}

<style>
    .container {
        padding: 50px;
        background-color: #333;
    }

    .item {
        padding: 10px;
        border-bottom: 1px solid #555;
    }

    .item .title {
        font-size: 1rem;
        /* Reduced font size */
        margin: 0 15px;
        /* Added margins */
    }

    .item .progress {
        width: 100%;
        height: 10px;
        background-color: #777;
        border-radius: 5px;
        margin-top: 5px;
        position: relative;
    }

    .item .progress .fill {
        height: 100%;
        background-color: #4CAF50;
        border-radius: 5px;
        position: absolute;
        top: 0;
        left: 0;
    }

    .item .percentage {
        font-size: 0.9rem;
        /* Reduced font size */
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        margin: 0 15px;
        /* Added margins */
    }
</style>
<div class="container">
    <div class="item">
        <div class="title">Arrays & Hashing</div>
        <div class="progress">
            <div class="fill" style="width: 89%;"></div>
            <div class="percentage">8/9</div>
        </div>
    </div>
    <div class="item">
        <div class="title">Two Pointers</div>
        <div class="progress">
            <div class="fill" style="width: 100%;"></div>
            <div class="percentage">5/5</div>
        </div>
    </div>
    <div class="item">
        <div class="title">Sliding Window</div>
        <div class="progress">
            <div class="fill" style="width: 100%;"></div>
            <div class="percentage">6/6</div>
        </div>
    </div>
    <div class="item">
        <div class="title">Stack</div>
        <div class="progress">
            <div class="fill" style="width: 100%;"></div>
            <div class="percentage">7/7</div>
        </div>
    </div>
    <div class="item">
        <div class="title">Binary Search</div>
        <div class="progress">
            <div class="fill" style="width: 100%;"></div>
            <div class="percentage">7/7</div>
        </div>
    </div>
    <div class="item">
        <div class="title">Linked List</div>
        <div class="progress">
            <div class="fill" style="width: 91%;"></div>
            <div class="percentage">10/11</div>
        </div>
    </div>
    <div class="item">
        <div class="title">Trees</div>
        <div class="progress">
            <div class="fill" style="width: 100%;"></div>
            <div class="percentage">15/15</div>
        </div>
    </div>
    <div class="item">
        <div class="title">Heap / Priority Queue</div>
        <div class="progress">
            <div class="fill" style="width: 100%;"></div>
            <div class="percentage">7/7</div>
        </div>
    </div>
    <div class="item">
        <div class="title">Backtracking</div>
        <div class="progress">
            <div class="fill" style="width: 89%;"></div>
            <div class="percentage">8/9</div>
        </div>
    </div>
    <div class="item">
        <div class="title">Tries</div>
        <div class="progress">
            <div class="fill" style="width: 0%;"></div>
            <div class="percentage">0/3</div>
        </div>
    </div>
    <div class="item">
        <div class="title">Graphs</div>
        <div class="progress">
            <div class="fill" style="width: 69%;"></div>
            <div class="percentage">9/13</div>
        </div>
    </div>
    <div class="item">
        <div class="title">Advanced Graphs</div>
        <div class="progress">
            <div class="fill" style="width: 0%;"></div>
            <div class="percentage">0/6</div>
        </div>
    </div>
    <div class="item">
        <div class="title">1-D Dynamic Programming</div>
        <div class="progress">
            <div class="fill" style="width: 100%;"></div>
            <div class="percentage">12/12</div>
        </div>
    </div>
    <div class="item">
        <div class="title">2-D Dynamic Programming</div>
        <div class="progress">
            <div class="fill" style="width: 91%;"></div>
            <div class="percentage">10/11</div>
        </div>
    </div>
</div>
{% include "footer.html" %}