{% include "header.html" %}
{% load static %} 


    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: sans-serif;
            background-image: url("{% static 'images/bg.avif' %}");
            background-repeat: no-repeat;
            background-position: center top;
            background-size: cover;
            color: white; /* Adjust text color for visibility on background */
        }

        ul.topics {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        li {
            display: block;
            margin: 10px;
            padding: 10px 20px;
            background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for text */
            border: 1px solid #ccc;
            border-radius: 5px;
            cursor: pointer;
        }

        li:hover {
            background-color: rgba(0, 0, 0, 0.7); /* Darken background on hover */
        }
    </style>

    <h1>Topics</h1>
    <ul>
        {% for topic in topics %}
        <li><a href="{% url 'questions_by_topic' topic.id %}">{{ topic.name }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>


{% include "footer.html" %}